@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    text-decoration: none;
    list-style-type: none;
}

.input-style {
    background: #F2F2F2; 
    border-color: #F2F2F2; 
    font-size: 12px; 
    font-family: 'Poppins', sans-serif; 
    color: #7E7D7D;
    margin-left: -20px;
    height: 48px;
    font-weight: 400;
}

.title-header {
    font-size: 21px;
    color: #FFC107;
}

.paragraf-header {
    font-size: 12px;
    color: #FFC107;
}

.poppins {
    font-family: 'Poppins', sans-serif; 
    color: #7E7D7D;
    font-weight: 500;
    transition: 0.5s;
}

.poppins:hover {
    font-family: 'Poppins', sans-serif; 
    color: #FFC107;
    cursor: pointer;
}

.link-daftar {
    color: black;
    transition: 0.5s;
    font-weight: 500;
}

.link-daftar:hover {
    color: #FFC107;
}

.poppins-bold {
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
}

#btn-success {
    border-color:#FFC107; 
    background: #FFC107; 
    font-size: 14px; 
    color: #FFFFFF; 
    width: 139px; 
    height: 48px;
    box-shadow: 1px 2px 8px rgba(26, 188, 156, 0.25);
}

#btn-oke {
    border-color:#FFC107; 
    width: 139.07px;
    height: 35px;
    box-shadow: 1px 2px 8px rgba(26, 188, 156, 0.25);
    background: #FFC107; 
    margin-top: -10px;
}

.paragraf-one {
    font-size: 12px;
    color: #756F98;
    margin-top: -10px;
}

.paragraf-two {
    font-size: 12px;
    color: #756F98;
    margin-top: -10px;
}

.modal-title {
    font-size: 14px;
}

.media-left {
    margin-left: 120px;
}

.text-email-work {
    font-size: 12px;
    color: #756F98;
}
.btn-work-email {
    width: 139px;
    height: 48px;
    background-color: #FFC107;
    border-radius: 5px;
    box-shadow: 0px 3px 11px rgba(255, 193, 7, 0.4);
    border: none;
    color: #fff;
}
@media screen and (max-width: 600px) {
    .media-left {
        margin-left: 30px;
        width: 100%;    
    }
    
    .title-header {
        margin-left: -5px;
    }

    .paragraf-header {
        margin-left: -5px;
    }

    .img-banner {
        display: none;
    }

  }

  @media screen and (min-device-width: 576px) and (max-device-width: 900px) {
    .media-left {
        margin-left: 55px;
        width: 100%;    
    }

    #btn-success {
        margin-right: 50px;
    }

    .input-group {
        width: 90%;
        margin-left: 20px;
    }
    
    .img-banner {
        display: none;
    }

}
